/* See http://code.google.com/p/minify/wiki/CommonProblems#@imports_can_appear_in_invalid_locations_in_combined_CSS_files */

/* jquery.bracket.min.css */

/* 1  */ div.jQBracket{font-family:Arial;font-size:14px;position:relative}
/* 2  */ div.jQBracket .tools{position:absolute;top:0;color:#FFF}
/* 3  */ div.jQBracket .tools span{cursor:pointer;margin:5px;display:block;text-align:center;width:18px;height:18px;background-color:#666}
/* 4  */ div.jQBracket .tools span:hover{background-color:#999}
/* 5  */ div.jQBracket .finals{float:right;right:0;clear:right;position:relative}
/* 6  */ div.jQBracket .bracket{float:right;clear:left}
/* 7  */ div.jQBracket .loserBracket{float:right;clear:left;position:relative}
/* 8  */ div.jQBracket .round{position:relative;width:100px;margin-right:40px;float:left}
/* 9  */ div.jQBracket .bracket_match{position:relative}
/* 10 */ div.jQBracket .editable{cursor:pointer}
/* 11 */ div.jQBracket .bracket_team{position:relative;z-index:1;float:left;background-color:#333;width:100px;cursor:default}
/* 12 */ div.jQBracket .bracket_team:first-child{border-bottom:1px solid #999}
/* 13 */ div.jQBracket .bracket_team input{font-size:12px;padding:0;width:inherit;border:0;margin:0}
/* 14 */ div.jQBracket .bracket_team div.label{padding-left:3px;position:absolute;width:70px;height:22px;white-space:nowrap;overflow:hidden;line-height:20px;color:#f0f0f0;vertical-align:middle;}
/* 15 */ div.jQBracket .bracket_team div.label img{width:20px;height:20px;}
/* 16 */ div.jQBracket .bracket_team div.label[disabled]{cursor:default}
/* 17 */ div.jQBracket .bracket_team div.score{float:right;padding:3px;background-color:rgba(255, 255, 255, .3);text-align:center;width:20px}
/* 18 */ div.jQBracket .bracket_team div.score[disabled]{color:#999;cursor:default}
/* 19 */ div.jQBracket .bracket_team div.label input.error,
/* 20 */ div.jQBracket .bracket_team div.score input.error{background-color:#FCC}
/* 21 */ div.jQBracket .bracket_team.np{background-color:#666;color:#EEE}
/* 22 */ div.jQBracket .bracket_team.na{background-color:#333;color:#CCC}
/* 23 */ div.jQBracket .bracket_team.win{color:#333}
/* 24 */ div.jQBracket .bracket_team.win div.score{color:#F9F9F9}
/* 25 */ div.jQBracket .bracket_team.lose div.score{color:#1c1c1c}
/* 26 */ div.jQBracket .bracket_team.lose{background-color:#222;color:#999}
/* 27 */ div.jQBracket .bracket_team.tie div.score{color:#00F}
/* 28 */ div.jQBracket .bracket_team.highlightWinner{background-color:#333;color:#000}
/* 29 */ div.jQBracket .bracket_team.highlightLoser{background-color:#222;color:#000}
/* 30 */ div.jQBracket .bracket_team.highlight{background-color:#ff6600;color:#000}
/* 31 */ div.jQBracket .teamContainer{z-index:1;position:relative;float:left}
/* 32 */ div.jQBracket .connector{border:2px solid #666;border-left-style:none;position:absolute;z-index:1}
/* 33 */ div.jQBracket .connector div.connector{border:0;border-bottom:2px solid #666;height:0;position:absolute}
/* 34 */ div.jQBracket .connector.highlightWinner,
/* 35 */ div.jQBracket .connector div.connector.highlightWinner{border-color:#DA0}
/* 36 */ div.jQBracket .connector.highlightLoser,
/* 37 */ div.jQBracket .connector div.connector.highlightLoser{border-color:#CCC}
/* 38 */ div.jQBracket .connector.highlight,
/* 39 */ div.jQBracket .connector div.connector.highlight{border-color:#ff6600}
/* 40 */ div.jQBracket .np .connector,
/* 41 */ div.jQBracket .np .connector div.connector{border-color:#222}
/* 42 */ div.jQBracket .bubble{height:22px;line-height:22px;width:30px;right:-35px;position:absolute;text-align:center;font-size:11px}
/* 43 */ div.jQBracket .bubble.third{background-color:#963;color:#D95}
/* 44 */ div.jQBracket .bubble.fourth{background-color:#678;color:#CCD}
/* 45 */ div.jQBracket .bubble:after{content:"";position:absolute;top:6px;width:0;height:0;border-top:5px solid transparent;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid transparent}
/* 46 */ div.jQBracket .bubble:after{left:-5px;border-left:0}
/* 47 */ div.jQBracket .bubble.third:after{border-right:6px solid #963}
/* 48 */ div.jQBracket .bubble.fourth:after{border-right:6px solid #678}
/* 49 */ div.jQBracket .highlightWinner .bubble{background-color:#DA0;color:#960}
/* 50 */ div.jQBracket .highlightWinner .bubble:after{border-right-color:#DA0}

/* jquery.bracket.min.css */

/* 51 */ div.jQBracket .highlightLoser .bubble{background-color:#333;color:#333}
/* 52 */ div.jQBracket .highlightLoser .bubble:after{border-right-color:#CCC}
/* 53 */ div.jQBracket.rl .finals{float:left;left:0;clear:left}
/* 54 */ div.jQBracket.rl .bracket{float:left;clear:right}
/* 55 */ div.jQBracket.rl .loserBracket{float:left;clear:right}
/* 56 */ div.jQBracket.rl .round{margin-right:0;margin-left:40px;float:right}
/* 57 */ div.jQBracket.rl .bracket_team{float:right}
/* 58 */ div.jQBracket.rl .bracket_team div.label{right:0}
/* 59 */ div.jQBracket.rl .bracket_team div.score{float:left}
/* 60 */ div.jQBracket.rl .teamContainer{float:right}
/* 61 */ div.jQBracket.rl .connector{border-left-style:solid;border-right-style:none;border-width:2px}
/* 62 */ div.jQBracket.rl .connector.highlightWinner,
/* 63 */ div.jQBracket.rl .connector div.connector.highlightWinner{border-color:#DA0}
/* 64 */ div.jQBracket.rl .connector.highlightLoser,
/* 65 */ div.jQBracket.rl .connector div.connector.highlightLoser{border-color:#CCC}
/* 66 */ div.jQBracket.rl .connector.highlight,
/* 67 */ div.jQBracket.rl .connector div.connector.highlight{border-color:#ff6600}
/* 68 */ div.jQBracket.rl .bubble{left:-35px}
/* 69 */ div.jQBracket.rl .bubble.third{background-color:#963;color:#310}
/* 70 */ div.jQBracket.rl .bubble.fourth{background-color:#678;color:#CCD}
/* 71 */ div.jQBracket.rl .bubble:after{left:auto;right:-5px;border-left:5px solid transparent;border-right:0}
/* 72 */ div.jQBracket.rl .bubble.third:after{border-right:0;border-left:6px solid #963}
/* 73 */ div.jQBracket.rl .bubble.fourth:after{border-right:0;border-left:6px solid #678}
/* 74 */ div.jQBracket.rl .highlightWinner .bubble:after{border-left-color:#DA0}
/* 75 */ div.jQBracket.rl .highlightLoser .bubble:after{border-left-color:#CCC}

/* default.css */

/* 1  */ @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);@font-face{font-family:'codropsicons';src:url('/fonts/codropsicons/codropsicons.eot');src:url('/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
/* 2  */ url('/fonts/codropsicons/codropsicons.woff') format('woff'),
/* 3  */ url('/fonts/codropsicons/codropsicons.ttf') format('truetype'),
/* 4  */ url('/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');font-weight:normal;font-style:normal;}
/* 5  */ *, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/* 6  */ body, html{font-size:100%;padding:0;margin:0;height:100%;}
/* 7  */ .clearfix:before, .clearfix:after{content:" ";display:table;}
/* 8  */ .clearfix:after{clear:both;}
/* 9  */ body{font-family:'Lato', Calibri, Arial, sans-serif;color:#89867e;background:#fff;}
/* 10 */ a{color:#888;text-decoration:none;}
/* 11 */ a:hover,
/* 12 */ a:active{color:#333;}
/* 13 */ .main,
/* 14 */ .container > header{margin:0 auto;padding:2em;}
/* 15 */ .container > header{text-align:center;}
/* 16 */ .container > header h1{font-size:2.625em;line-height:1.3;margin:0;font-weight:300;}
/* 17 */ .container > header span{display:block;font-size:60%;opacity:0.5;padding:0 0 0.6em 0.1em;}
/* 18 */ .codrops-top{background:#fff;background:rgba(255, 255, 255, 0.6);text-transform:uppercase;width:100%;font-size:0.69em;line-height:2.2;}
/* 19 */ .codrops-top a{padding:0 1em;letter-spacing:0.1em;color:#888;display:inline-block;}
/* 20 */ .codrops-top a:hover{background:rgba(255,255,255,0.95);color:#333;}
/* 21 */ .codrops-top span.right{float:right;}
/* 22 */ .codrops-top span.right a{float:left;display:block;}
/* 23 */ .codrops-icon:before{font-family:'codropsicons';margin:0 4px;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;}
/* 24 */ .codrops-icon-drop:before{content:"\e001";}
/* 25 */ .codrops-icon-prev:before{content:"\e004";}
/* 26 */ .codrops-icon-archive:before{content:"\e002";}
/* 27 */ .codrops-icon-next:before{content:"\e000";}
/* 28 */ .codrops-icon-about:before{content:"\e003";}
/* 29 */ .container{height:100%;position:relative;}
/* 30 */ .container > section{margin:0 auto;padding:5em 3em;text-align:center;color:#fff;}
/* 31 */ .container > section p{position:relative;margin:0;padding:1em;z-index:1;}
/* 32 */ .container > section p.text{font-size:1.4em;}
/* 33 */ .no-touch .note-touch{display:none;}
/* 34 */ .color-1{background:#0e83cd;}
/* 35 */ .color-2{background:#f06060;}
/* 36 */ .color-3{background:#fcd04b;}
/* 37 */ .color-4{background:#2ecc71;}
/* 38 */ .color-5{background:#9e54bd;}
/* 39 */ .color-6{background:#4593e3;}
/* 40 */ .color-7{background:#2ac56c;}
/* 41 */ .color-8{background:#ecf0f1;}
/* 42 */ .color-8 p.text{color:#aaa;font-weight:bold;}
/* 43 */ @media screen and (max-width:25em){.codrops-icon span{display:none;}
/* 44 */ }

/* reset.css */

/* 1  */ html, body, div, span, applet, object, iframe,
/* 2  */ h1, h2, h3, h4, h5, h6, p, blockquote, pre,
/* 3  */ a, abbr, acronym, address, big, cite, code,
/* 4  */ del, dfn, em, img, ins, kbd, q, s, samp,
/* 5  */ small, strike, strong, sub, sup, tt, var,
/* 6  */ b, u, i, center,
/* 7  */ dl, dt, dd, ol, ul, li,
/* 8  */ fieldset, form, label, legend,
/* 9  */ table, caption, tbody, tfoot, thead, tr, th, td,
/* 10 */ article, aside, canvas, details, embed,
/* 11 */ figure, figcaption, footer, header, hgroup,
/* 12 */ menu, nav, output, ruby, section, summary,
/* 13 */ time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* 14 */ article, aside, details, figcaption, figure,
/* 15 */ footer, header, hgroup, menu, nav, section{display:block;}
/* 16 */ body{line-height:1;}
/* 17 */ ol, ul{list-style:none;}
/* 18 */ blockquote, q{quotes:none;}
/* 19 */ blockquote:before, blockquote:after,
/* 20 */ q:before, q:after{content:'';content:none;}
/* 21 */ table{border-collapse:collapse;border-spacing:0;}

/* style.css */

/* 1  */ html *{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
/* 2  */ *, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/* 3  */ body{font-size:100%;font-family:"Bitter", sans-serif;color:#f5f4ed;background-color:#000;}
/* 4  */ a{color:#e86256;text-decoration:none;}
/* 5  */ .cd-container{width:90%;max-width:768px;margin:2em auto;}
/* 6  */ .cd-container::after{content:'';display:table;clear:both;}
/* 7  */ header{background:#000;height:100px;text-align:center;}
/* 8  */ header h1{font-size:20px;font-size:1.25rem;font-weight:bold;font-family:"Open Sans", sans-serif;text-transform:uppercase;font-weight:bold;padding-top:1.6em;margin-bottom:.2em;}
/* 9  */ header p{font-size:13px;font-size:0.8125rem;color:#957484;}
/* 10 */ @media only screen and (min-width:1024px){header{height:200px;}
/* 11 */ header h1{font-size:30px;font-size:1.875rem;padding-top:2.6em;}
/* 12 */ }
/* 13 */ main p{font-size:16px;font-size:1rem;line-height:1.6;margin:2em 0;}
/* 14 */ @media only screen and (min-width:1024px){main p{font-size:20px;font-size:1.25rem;}
/* 15 */ }
/* 16 */ .cd-top{display:inline-block;height:40px;width:40px;position:fixed;bottom:40px;right:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.05);overflow:hidden;text-indent:100%;white-space:nowrap;background:rgba(255, 102, 0, 0.8) url(/img/cd-top-arrow.svg) no-repeat center 50%;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;transition:opacity .3s 0s, visibility 0s .3s;}
/* 17 */ .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover{-webkit-transition:opacity .3s 0s, visibility 0s 0s;-moz-transition:opacity .3s 0s, visibility 0s 0s;transition:opacity .3s 0s, visibility 0s 0s;}
/* 18 */ .cd-top.cd-is-visible{visibility:visible;opacity:1;}
/* 19 */ .cd-top.cd-fade-out{opacity:.5;}
/* 20 */ .no-touch .cd-top:hover{background-color:#FF6600;opacity:1;}
/* 21 */ @media only screen and (min-width:768px){.cd-top{right:20px;bottom:20px;}
/* 22 */ }
/* 23 */ @media only screen and (min-width:1024px){.cd-top{height:60px;width:60px;right:30px;bottom:30px;}
/* 24 */ }
