
# Enable GZIP compression.
<IfModule deflate_module>
  <IfModule filter_module>
    AddOutputFilterByType DEFLATE text/plain text/html
    AddOutputFilterByType DEFLATE text/xml application/xml application/xhtml+xml application/xml-dtd
    AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml image/svg+xml
    AddOutputFilterByType DEFLATE text/css text/javascript application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE font/opentype application/font-otf application/x-font-otf
    AddOutputFilterByType DEFLATE font/truetype application/font-ttf application/x-font-ttf
  </IfModule>
</IfModule>

# END Comet Cache WmVuQ2FjaGU

# 1 YEAR
<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# 1 WEEK
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# 1 DAY
<FilesMatch "\.(txt|xml|js|css)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>

# NEVER CACHE - notice the extra directives
<FilesMatch "\.(html|htm|php|cgi|pl)$">
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>

# protect the htaccess
<files .htaccess>
order allow,deny
deny from all
</files>

# protect wp-config
<files wp-config.php>
order allow,deny
deny from all
</files>

# disable the server signature
ServerSignature Off

# limit indexing and browsing of directories
Options All -Indexes
Options +FollowSymLinks

# limit uploading to 10mb
LimitRequestBody 10240000

# REDIRECT PARA RESOLVER ERRORES DEL WEBMASTER
Redirect 301 /plugins/feedback.php http://www.apostaralfutbol.com/

# FILTER BAD BOTS
RewriteEngine On
RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule .* - [F]

# Disable Trace and Track
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]

# Forbid Proxy comment posting
RewriteCond %{REQUEST_METHOD} =POST
RewriteCond %{HTTP:VIA}%{HTTP:FORWARDED}%{HTTP:USERAGENT_VIA}%{HTTP:X_FORWARDED_FOR}%{HTTP:PROXY_CONNECTION} !^$ [OR]
RewriteCond %{HTTP:XPROXY_CONNECTION}%{HTTP:HTTP_PC_REMOTE_ADDR}%{HTTP:HTTP_CLIENT_IP} !^$
RewriteCond %{REQUEST_URI} !^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
RewriteRule .* - [F,NS,L]

# Deny bad bots from list
SetEnvIfNoCase User-Agent ^$ bad_bot    #this is for blank user-agents
SetEnvIfNoCase User-Agent "^MJ12bot" bad_bot
SetEnvIfNoCase User-Agent "^Jakarta" bad_bot
SetEnvIfNoCase User-Agent "^User-Agent" bad_bot
SetEnvIfNoCase User-Agent "^libwww," bad_bot
SetEnvIfNoCase User-Agent "^lwp-trivial" bad_bot
SetEnvIfNoCase User-Agent "^Snoopy" bad_bot
SetEnvIfNoCase User-Agent "^PHPCrawl" bad_bot
SetEnvIfNoCase User-Agent "^WEP Search" bad_bot
SetEnvIfNoCase User-Agent "^Missigua Locator" bad_bot
SetEnvIfNoCase User-Agent "^ISC Systems iRc" bad_bot
SetEnvIfNoCase User-Agent "^lwp-trivial" bad_bot
SetEnvIfNoCase User-Agent .*rogerbot.* bad_bot
SetEnvIfNoCase User-Agent .*exabot.* bad_bot
SetEnvIfNoCase User-Agent .*mj12bot.* bad_bot
SetEnvIfNoCase User-Agent .*dotbot.* bad_bot
SetEnvIfNoCase User-Agent .*gigabot.* bad_bot
SetEnvIfNoCase User-Agent .*ahrefsbot.* bad_bot
SetEnvIfNoCase User-Agent .*sitebot.* bad_bot
SetEnvIfNoCase User-Agent .*semrushbot.* bad_bot 
SetEnvIfNoCase User-Agent .*ia_archiver.* bad_bot 
SetEnvIfNoCase User-Agent .*searchmetricsbot.* bad_bot 
SetEnvIfNoCase User-Agent .*seokicks-robot.* bad_bot 
SetEnvIfNoCase User-Agent .*sistrix.* bad_bot 
SetEnvIfNoCase User-Agent .*lipperhey spider.* bad_bot 
SetEnvIfNoCase User-Agent .*ncbot.* bad_bot 
SetEnvIfNoCase User-Agent .*backlinkcrawler.* bad_bot 
SetEnvIfNoCase User-Agent .*archive.org_bot.* bad_bot 
SetEnvIfNoCase User-Agent .*meanpathbot.* bad_bot 
SetEnvIfNoCase User-Agent .*pagesinventory.* bad_bot 
SetEnvIfNoCase User-Agent .*aboundexbot.* bad_bot 
SetEnvIfNoCase User-Agent .*spbot.* bad_bot 
SetEnvIfNoCase User-Agent .*linkdexbot.* bad_bot 
SetEnvIfNoCase User-Agent .*nutch.* bad_bot 
SetEnvIfNoCase User-Agent .*blexbot.* bad_bot 
SetEnvIfNoCase User-Agent .*ezooms.* bad_bot 
SetEnvIfNoCase User-Agent .*scoutjet.* bad_bot 
SetEnvIfNoCase User-Agent .*majestic-12.* bad_bot 
SetEnvIfNoCase User-Agent .*majestic-seo.* bad_bot 
SetEnvIfNoCase User-Agent .*dsearch.* bad_bot 
SetEnvIfNoCase User-Agent .*blekkobo.* bad_bot
<Limit GET POST HEAD>
Order Allow,Deny
Allow from all
Deny from env=bad_bot
</Limit>

# Block the include-only files.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
