* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'icomoon';
	src: url(/fonts/icomoon.eot);
	src: url(/fonts/icomoon.eot?#iefix) format("embedded-opentype"), url(/fonts/icomoon.woff) format("woff"), url(/fonts/icomoon.ttf) format("truetype"), url(/fonts/icomoon.svg#icomoon) format("svg");
	font-weight: 400;
	font-style: normal;
}

/* vietnamese */
@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v8/lPe1yn6mfx09SN8b3TUYbIDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v8/8NU_-DMruT2VEumfuawh8YDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v8/TS7BJzhU7AKgPn9R0AejYKCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#iframediv {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

img[src='Error.src'] {
	display: none;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #151515;
	/*background: url(/i/background.jpg) top center no-repeat #000; */
	background: url(/i/background4.jpg) top center no-repeat #000;
	background-attachment: fixed;
	font-family: Arial, Helvetica, "Open Sans", sans-serif;
	font-size: 16px;
	font-size: 1.4rem;
	color: #f0f0f0;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	line-height: inherit;
}

/*a:hover {
	color: #f60;
}

a:focus {
	color: #f60;
	outline: none;
}

p:link {
	color: #f60;
}

h5 a {
	color: #f60;
}

h5 a:hover {
	color: #ff4500;
	}*/

	p a,
	p a:visited {
		line-height: inherit;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}

	.hide {
		display: none;
	}

	.highlight2 {
		background: #ff9;
	}

	#fixed-div {
		position: fixed;
		top: 1em;
		left: 1em;
	}

	.next,
	.prev,
	.postmeta {
		font-size: 11px;
		padding: 2px 4px;
	}

	.next {
		float: right;
	}

	.prev {
		float: left;
	}

	ul.buttonlink {
		margin-left: 0;
		padding: 0;
	}

	li.buttonlink a {
		color: #fff;
	}

	li.buttonlink {
		background: #f60;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		display: block;
		float: left;
		margin: 5px 5px 5px 0;
		padding: 5px;
		text-decoration: none;
	}

	li.buttonlink:hover {
		background: #f60;
		color: #fff;
	}

	body,
	div,
	dl,
	dt,
	dd,
	ul,
	ol,
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	pre,
	form,
	fieldset,
	p,
	blockquote,
	th,
	td {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}

	p {
		font-size: 14px;
		line-height: 1.6;
		margin-bottom: 17px;
	}

	p.lead {
		font-size: 17.5px;
		line-height: 1.6;
		margin-bottom: 17px;
	}

	p img.left,
	p img {
		margin: 17px;
		margin-left: 0;
	}

	p img.right {
		margin: 17px;
		margin-right: 0;
	} 

	aside p {
		font-size: 13px;
		line-height: 1.35;
		font-style: italic;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-rendering: optimizeLegibility;
		line-height: 1.1;
		font-weight: normal;
		margin: 0.2em;
	/*padding-left: 1em;
	padding-right: 1em;*/
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size: 60%;
	color: #f0f0f0;
	line-height: 0;
}
h1,
h2,
h3{
	font-family: 'Anton';
}
h4,h5,h6{
	font-family: sans-serif;
}

h1 {
	font-size: 2em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.7em;
	text-transform: uppercase;
}

h3 {

	font-size: 2em;
	line-height: 1.5em;
	margin-bottom: 1px;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

hr {
	border: solid #4D4D4D;
	border-width: 4px 0 0;
	clear: both;
	margin: 22px 0 21px;
	height: 0;
}

.subheader {
	line-height: 1.3;
	color: #777;
	font-weight: 300;
	margin-bottom: 17px;
}

em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: 700;
	line-height: inherit;
}

small {
	font-size: 60%;
	line-height: inherit;
}

ul,
ol {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 0;
	list-style-position: inside;
}

blockquote,
blockquote p {
	line-height: 1.5;
	color: #777;
}

blockquote {
	margin: 0 0 17px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}

.row {
	width: 1000px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
	background-color: #151515;
	position: relative;
}

.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
}

.row.collapse .column,
.row.collapse .columns {
	padding: 0;
}

.row .row.collapse {
	margin: 0;
}

.column,
.columns {
	float: left;
	min-height: 1px;
/*	padding: 0 15px; 
*/	position: relative;
}

.column.centered,
.columns.centered {
	float: none;
	margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
	float: right;
	/*padding: 0 ;*/
}

[class*="column"] + [class*="column"].end {
	float: left;
	padding: 0 ;
}

.row .four {
	width: 33.333%;
	padding: 0 15px;
	background: #1c1c1c;
}

.row .six {
	width: 50%;
	padding: 0;
}

.row .eight {
	width: 66.667%;
	padding: 0 15px;
}

.row .twelve {
	width: 100%;
	/*	background: #1c1c1c;*/
}

.row .footer {
	width: 100%;
	background: rgba(54, 25, 25, .00004);
	color: gray;
	padding: 10px;
}

.row .offset-by-one {
	margin-left: 8.333%;
}

.row .offset-by-two {
	margin-left: 16.667%;
}

.row .offset-by-three {
	margin-left: 25%;
}

.row .offset-by-four {
	margin-left: 33.333%;
}

.row .offset-by-five {
	margin-left: 41.667%;
}

.row .offset-by-six {
	margin-left: 50%;
}

.row .offset-by-seven {
	margin-left: 58.333%;
}

.row .offset-by-eight {
	margin-left: 66.667%;
}

.row .offset-by-nine {
	margin-left: 75%;
}

.row .offset-by-ten {
	margin-left: 83.333%;
}

.push-four {
	left: 33.333%;
}

.pull-four {
	right: 33.333%;
}

.push-six {
	left: 50%;
}

.pull-six {
	right: 50%;
}

.push-eight {
	left: 66.667%;
}

.pull-eight {
	right: 66.667%;
}

img,
object,
embed {
	max-width: 100%;
	height: auto;
}

img {
	-ms-interpolation-mode: bicubic;
}

#map_canvas img,
.map_canvas img {
	max-width: none !important;
}

.row {
	*zoom: 1;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.player {
	height: 300px;
	width: 300px;
	margin-right: 15px;
	float: left;
	padding-top: 15px;
}

.playerinfo {
	padding-top: 15px;
}

@media (min-width:1px) and (max-width:533px) {
	.player {
		width: 100%;
		padding-top: 10px;
		margin-bottom: 10px;
	}
}

.team {
	height: 310px;
	width: 300px;
	margin-right: 15px;
	float: left;
	padding-top: 15px;
}

.teaminfo {
	padding-top: 15px;
}

@media (min-width:1px) and (max-width:533px) {
	.team {
		width: 100%;
		padding-top: 10px;
		margin-bottom: 10px;
	}
}

#players td {
	padding: 6px;
	height: 165px;
}

#players img {
	margin-bottom: 4px;
}

table#players {
	background-color: #333;
	border: solid #151515 3px;
	width: 126px;
	float: left;
}

#players:hover {
	background-color: #4D4D4D;
}

#players td:hover {
	background-color: #4D4D4D;
}

#players .textbox {
	display: inline-block;
	width: 100px;
	line-height: 15px;
}

@media (min-width:1px) and (max-width:533px) {
	#players td {
		padding: 5px;
		height: 145px;
		width: 110px;
		padding-bottom: -2px;
	}
	table#players {
		width: 110px;
		float: left;
		border: solid #151515 1px;
	}
	#players img[class="attachment-post-thumbnail wp-post-image"] {
		margin-bottom: 2px;
		width: 110px;
	}
	#players .textbox {
		display: inline-block;
		width: 80px;
		line-height: 12px;
		font-size: 12px;
	}
}

.teams td {
	padding: 4px;
	height: 190px;
}

.teams img {
	margin-bottom: 5px;
}

.teams {
	background-color: #333;
	border: solid #151515 3px;
	width: 24.5%;
	float: left;
}

.teams:hover {
	background-color: #4D4D4D;
}

.teams td:hover {
	background-color: #4D4D4D;
}

.teams .textbox {
	display: inline-block;
	width: 100px;
	line-height: 16px;
}

@media (min-width:1px) and (max-width:533px) {
	.teams td {
		padding: 4px;
		height: 150px;
	}
	.teams {
		width: 25%;
		float: left;
		border: solid #151515 1px;
	}
	.teams img {
		margin-bottom: 2px;
	}
	.teams .textbox {
		display: inline-block;
		line-height: 14px;
		font-size: 12px;
	}
}

.tournaments td {
	padding: 4px;
}

.tournaments img {
	margin-bottom: 5px;
}

.tournaments {
	background-color: #333;
	border: solid #151515 3px;
	width: 33%;
	float: left;
	height: 162px;
}

.tournaments:hover {
	background-color: #4D4D4D;
}

.tournaments td:hover {
	background-color: #4D4D4D;
	color: #F60;
}

.tournaments .textbox {
	display: inline-block;
	width: 95%;
	line-height: 16px;
}

@media (min-width:1px) and (max-width:533px) {
	.tournaments td {
		padding: 2px;
	}
	.tournaments img {
		margin-bottom: 4px;
	}
	.tournaments {
		background-color: #333;
		border: solid #151515 1px;
		width: 49%;
		float: left;
		height: 120px;
	}
	.tournaments:hover {
		background-color: #4D4D4D;
	}
	.tournaments td:hover {
		background-color: #4D4D4D;
		color: #F60;
	}
	.tournaments .textbox {
		display: inline-block;
		width: 95%;
		line-height: 16px;
	}
}

.tournaments2 {
	background-color: #333;
	border: solid #1c1c1c 3px;
	width: 50%;
	float: left;
	height: 10em;
	display: table;
	table-layout: fixed;
	text-align: center;
}

.tournaments2:hover {
	background-color: #4D4D4D;
}

.tournaments2 td:hover {
	background-color: #4D4D4D;
	color: #F60;
}

.tournaments2 .textbox {
	margin: auto;
	padding-top: 5px;
	display: block;
}

.tournamentnews {
	background-color: #333;
	border: solid #1c1c1c 3px;
	width: 100%;
	float: left;
	height: 9em;
}

.tournamentnews:hover {
	background-color: #f60;
}

.tournamentnews td:hover {
	background-color: #f60;
	color: #F60;
}

.tournamentteams td {
	padding: 4px;
	height: 5em;
	width=120px;
	height=145px;
	text-align: center;
}

.tournamentteams img {
	margin-bottom: 5px;
}

.tournamentteams {
	background-color: #333;
	border: solid #151515 1px;
	/* width: 12.5%; */
	float: left;
	overflow: scroll;
}

.tournamentteams:hover {
	background-color: #4D4D4D;
}

.tournamentteams td:hover {
	background-color: #4D4D4D;
}

.tournamentteams .textbox {
	display: inline-block;
	width: 100%;
	line-height: 16px;
	text-overflow: clip;
}

@media (min-width:1px) and (max-width:533px) {
	.tournamentteams td {
		padding: 4px;
		height: 5em;
	}
	.tournamentteams {
		width: 25%;
		float: left;
		border: solid #151515 1px;
	}
	.tournamentteams img {
		margin-bottom: 2px;
	}
	.tournamentteams .textbox {
		display: inline-block;
		line-height: 14px;
		font-size: 12px;
	}
}

.ttable {
	width: 38%;
	border-collapse: collapse;
	background-color: #333;
	overflow: hidden;
}

.ttable tr:hover,
.ttable tr.alt:hover {
	background-color: #f60;
	color: #1c1c1c;
}

.ttable img {
	width: 3em;
}

.ttable th {
	border: 1px solid #151515;
	border-collapse: collapse;
	height: 2em;
	font-size: 1.5em;
	align-content: center;
	background-color: #333;
	padding: 3px 7px 2px;
}

.ttable td {
	border: 1px solid #151515;
	border-collapse: collapse;
	height: 3em;
	font-size: 1.2em;
	vertical-align: middle;
	text-align: left;
	padding: 3px 7px 2px;
}

.ttable tr.alt {
	background-color: #222;
}

@media (min-width:1px) and (max-width:533px) {
	.ttable {
		width: 99%;
	}
}

.matchlist {
	background-color: #333;
	margin-bottom: 5px;
	width: 100%;
	z-index: 0;
	height: 7em;
	overflow: hidden;
	border-radius: 10px;
}

.matchlist table {
	position: relative;
	z-index: 3;
	padding-right: 2%;
	border-radius: 10px 0 0 10px;
	background: -moz-linear-gradient(left, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 90%, rgba(51, 51, 51, 0.3) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(51, 51, 51, 1)), color-stop(90%, rgba(51, 51, 51, 1)), color-stop(100%, rgba(51, 51, 51, 0.3)));
	background: -webkit-linear-gradient(left, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 90%, rgba(51, 51, 51, 0.3) 100%);
	background: -o-linear-gradient(left, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 90%, rgba(51, 51, 51, 0.3) 100%);
	background: -ms-linear-gradient(left, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 90%, rgba(51, 51, 51, 0.3) 100%);
	background: linear-gradient(to right, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 90%, rgba(51, 51, 51, 0.3) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#4d333333', GradientType=1);
}

.back {
	position: absolute;
	right: 0;
	padding-right: 2.3%;
	z-index: 1;
	overflow: hidden;
}

.back img {
	z-index: 2;
	position: relative;
	height: 7em;
	border-radius: 0 10px 10px 0;
}

.matchlist h2 {
	font-size: 25px;
	line-height: 1.2em;
	color: #f0f0f0;
	text-shadow: 0 0 4px #222;
}

.matchlist p {
	color: #f0f0f0;
	text-shadow: 0 0 4px #222;
}

.matchlist:hover {
	background-image: none;
	box-shadow: 0 0 8px #F60;
}

.matchlist:hover h2,
.matchlist:hover p {
	color: #F60;
	text-shadow: 0 0 4px #000;
}

.matchlist .mteams {
	font-size: 10px;
	height: 9.5em;
	width: 9.5em;
	margin-left: .5em;
	margin-right: .5em;
}

@media (min-width:1px) and (max-width:533px) {
	.matchlist {
		height: 5em;
		margin-bottom: 2px;
	}
	.back img {
		height: 5em;
	}
	.matchlist .mteams {
		font-size: 5px;
		height: 9.5em;
		width: 9.5em;
		margin-left: .2em;
		margin-right: .2em;
	}
	.matchlist h2 {
		font-size: 16px;
		line-height: .4em;
		color: #f0f0f0;
		text-shadow: 0 0 4px #222;
	}
	.matchlist p {
		color: #f0f0f0;
		text-shadow: 0 0 4px #222;
		font-size: 12px;
	}
}

.tmatchlist {
	background-color: #333;
	margin-bottom: 2px;
	width: 100%;
	z-index: 0;
	height: 5em;
	overflow: hidden;
	border-radius: 5px;
	text-overflow: clip;
}

.tmatchlist table {
	position: relative;
	z-index: 3;
	padding-right: 2%;
	border-radius: 10px 0 0 10px;
	text-overflow: clip;
}

.tback {
	position: absolute;
	right: 0;
	padding-right: 2.3%;
	z-index: 1;
	overflow: hidden;
}

.tback img {
	z-index: 2;
	position: relative;
	height: 5em;
	border-radius: 0 10px 10px 0;
}

.tmatchlist p {
	color: #f0f0f0;
	text-shadow: 0 0 4px #222;
	font-size: 12px;
	text-overflow: clip;
}

.tmatchlist:hover {
	background-image: none;
	box-shadow: 0 0 8px #F60;
}

.tmatchlist:hover h2,
.matchlist:hover p {
	color: #F60;
	text-shadow: 0 0 4px #000;
}

.tmatchlist .tmteams {
	font-size: 5px;
	height: 9.5em;
	width: 9.5em;
	margin-left: .2em;
	margin-right: .2em;
}

.tmatchlist h2 {
	font-size: 16px;
	line-height: .4em;
	color: #f0f0f0;
	text-shadow: 0 0 4px #222;
	text-overflow: clip;
}

.prizepooltable {
	color: #1c1c1c;
}

ul {
	list-style: none;
}

#date {
	font-size: .7em;
	line-height: 1.2em;
	margin: 0;
}

#secondary-navigation {
	margin-bottom: 10px;
}

#secondary-navigation ul {
	margin: 0;
	padding: 0;
}

#secondary-navigation ul li a {
	background: #333;
	color: #f0f0f0;
	display: block;
	margin: 1px 0;
	padding: 5px;
	text-decoration: none;
	list-style: none;
}

#secondary-navigation ul li a:hover,
#secondary-navigation ul li.current a {
	background: #4D4D4D;
	color: #F60;
}

#secondary-navigation .td {
	margin: 0;
}

#content {
	float: left;
	width: 65%;
}

#content.wide-content {
	float: none;
	width: 100%;
}

#content,
.vertical-padding {
	padding: 30px;
	background: #fff;
}

.textnews {}

p.textnews {
	font-size: .9em;
	line-height: 1.2em;
	margin: 0;
	font-weight: 700;
	z-index: 999;
	position: ;
}

.textnews2 {
	display: none;
}

.is-mobile {
	display: none;
}

@media (min-width:1px) and (max-width:533px) {
	.is-default {
		display: none;
	}
	.is-mobile {
		display: inherit;
	}
}

.tbtn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 5px;
	display: inline-block;
	margin: .5%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	width: 22%;
}

.tbtn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.tbtn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.tbtn-8 {
	display: inline-block;
	background: #333;
	outline: 1px solid transparent;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.tbtn-8:active {
	background: #4d4d4d;
}

.tbtn-8b:after {
	width: 100%;
	height: 40%;
	left: 0;
	top: 100%;
	background: #4d4d4d;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotateX(-90deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotateX(-90deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotateX(-90deg);
	transform-origin: 0 0;
	transform: rotateX(-90deg);
}

.tbtn-8b:hover {
	-webkit-transform: rotateX(25deg);
	-moz-transform: rotateX(25deg);
	-ms-transform: rotateX(25deg);
	transform: rotateX(25deg);
}

.btn {
	border: none;
	font-family: inherit;
	font-size: 12px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 4px;
	display: inline-block;
	margin: 2%;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-8 {
	display: inline-block;
	background: #333;
	outline: 1px solid transparent;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.btn-8:active {
	background: #4d4d4d;
}

.btn-8b:after {
	width: 100%;
	height: 40%;
	left: 0;
	top: 100%;
	background: #4d4d4d;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotateX(-90deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotateX(-90deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotateX(-90deg);
	transform-origin: 0 0;
	transform: rotateX(-90deg);
}

.btn-8b:hover {
	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
}

.btn-1 {
	border: 1px solid #fff;
	color: #fff;
	height: 100%;
	min-height: 3.2em;
	background: #343434;
}

.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #e7671b !important;
}

.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #333;
}

.btn-1b:hover,
.btn-1b:active {
	color: #ff4500;
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}


/* Button 3 */

.btn-3 {
	background: #ff6600;
	color: #fff;
	height: 80%;
}

.btn-3:hover {
	background: #F43400;
}

.btn-3:active {
	background: #f58500;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}





/* MENUBAR */
.h9:hover{
	color: white!important;
}
.h9{
	font-family: 'Anton';
	font-size: 1.5em;
	-ms-transform: skewX(-10deg); /* IE 9 */
	-webkit-transform: skewX(-10deg); /* Safari */
	transform: skewX(-10deg); /* Standard syntax */
}
.nav-bar {
	background: #B71C1C;
	margin: auto;
	padding: 0;
	position: fixed;
	max-width: 1000px;
	top: 0;
	width: 100%;
	z-index: 98;
	overflow: hidden;
	box-shadow:0 0 10px 5px rgba(0,0,0,0.5);
}
.nav-bar-logo {
	float: left;
	display: inline-block;
	text-align: center;
	*display: inline;
	width: 28%;
	padding: 1px;
	height: 50px;
	font-size: 1.4em;
	line-height: 50px;
	overflow: hidden;
	background-color: black;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
}
.nav-bar-logo img{
	padding: 1px;
	max-height: 40px;
}
.nav-bar-btn {
	float: left;
	display: inline-block;
	text-align: center;
	*display: inline;
	width: 22%;
	height: 50px;
	font-size: 1.3em;
	line-height: 50px;
	overflow: hidden;
	background-color: #B71C1C;
	cursor: pointer;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
}

.container-4 {
	overflow: hidden;
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-border-radius: 0;
	border-radius: 0
}
.container-4 input#search {
	width: 100%;
	height: 50px;
	background: #2b303b;
	border: 0;
	font-size: 10pt;
	float: left;
	color: #fff;
	padding-left: 15px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	text-align: center
}
.container-4 input#search::-webkit-input-placeholder {
	color: #65737e
}
.container-4 input#search:-moz-placeholder {
	color: #65737e
}
.container-4 input#search::-moz-placeholder {
	color: #65737e
}
.container-4 input#search:-ms-input-placeholder {
	color: #65737e
}
.container-4 button.icon {
	border: 0;
	background: #B71C1C;
	height: 50px;
	width: 50px;
	color: #fff;
	opacity: 1;
	font-size: 10pt;
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease
}
.container-4:active button.icon,
.container-4:focus button.icon,
.container-4:hover button.icon {
	outline: 0;
	opacity: 1;
	margin-left: -50px
}
.container-4:hover button.icon:hover {
	background: #C62828
}

.nav-bar-search {
	height: 50px;
	font-size: 1.3em;
	line-height: 50px;
	float: left;
	display: inline-block;
	text-align: center;
	width: 6%;
}

.nav-bar-search:hover {
	box-shadow: 14px 0px 0 #C62828;
	background-color: #C62828!important;
}

.nav-bar-btn:hover{
	font-weight: 500;
	background-color: #C62828;
}
.nav-bar-logo:hover {
	font-weight: 500;
	background-color: #1c1c1c;
	box-shadow: 0 0 0 14px #1c1c1c;
}
.search-form-main {
	display: none;
	position: fixed;
	top: 50px;
	z-index: 999;
	width: 100%;
	max-width: 1000px
}

.botnav-btn {
	width: 16%;
	position: relative;
	margin: 0.1%;
	display: inline-block;
	cursor: pointer;
}

@media only screen and (max-width:766px){
	.nav-bar {
		left: 0;
	}
	.nav-bar-btn {
		display: inline-block;
		text-align: center;
		font-size: 1.4em;
		line-height: 50px;
	}
	.nav-bar-logo img{
		max-height: 50px;
	}
	.nav-bar-logo{
		width: 20%;
	}
}
@media only screen and (max-width:499px){
	.nav-bar-btn {
		padding: 4px;
	}
	.nav-bar-search{
		width: 20%;
	}
	.nav-bar-btn {
		width: 20%;
		font-size: 7vw;
	}
}





/* Button 3e */

.btn-3e {
	padding: 25px 120px 25px 60px;
	overflow: hidden;
	height: 80%;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-3e:after {
	width: 30%;
	height: 200%;
	background: rgba(255, 255, 255, 0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-3e:hover:after {
	width: 40%;
}

.icon-arrow-right:before {
	content: "\e00d";
}

.betbtn {
	font-size: 16px;
}

.betbtn:hover {
	font-size: 16px;
	color: #f9f9f9;
}

.round-title {
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.round-title {
	border: 1px solid #cdc9c9;
	box-sizing: border-box;
	position: absolute;
	width: 100px;
	background-color: #333;
}

.match-wrapper {
	border: 1px solid #cdc9c9;
	box-sizing: border-box;
	position: absolute;
	width: 100px !important;
	background-color: #333;
}

.match-divider {
	width: 100%;
	height: 1px;
	background-color: #cdc9c9;
	float: left;
}

.vertical-connector {
	width: 2px;
}

.horizontal-connector,
.vertical-connector {
	background-color: #cdc9c9;
	position: absolute;
}

.horizontal-connector {
	height: 1px;
	width: 10px;
	display: inline-block;
}

.player-wrapper {
	background-color: #333;
	border-right: 1px solid #cdc9c9;
	box-sizing: border-box;
	padding-left: 5px;
	width: 80%;
}

.score-wrapper {
	background-color: #4d4d4d;
	box-sizing: border-box;
	text-align: center;
	width: 20%;
	text-align: center;
}

.player-wrapper,
.score-wrapper {
	float: right;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

@media only screen and (max-width:767px) {
	body {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		width: auto;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.column,
	.columns {
		width: auto !important;
		float: none;
	}
	.column:last-child,
	.columns:last-child {
		float: none;
	}
	[class*="column"] + [class*="column"]:last-child {
		float: none;
	}
	.column:before,
	.columns:before,
	.column:after,
	.columns:after {
		content: "";
		display: table;
	}
	.column:after,
	.columns:after {
		clear: both;
	}
	.no-left-margin,
	.offset-by-one,
	.offset-by-two,
	.offset-by-three,
	.offset-by-four,
	.offset-by-five,
	.offset-by-six,
	.offset-by-seven,
	.offset-by-eight,
	.offset-by-nine,
	.offset-by-ten {
		margin-left: 0 !important;
	}
	.left-auto,
	.push-two,
	.push-three,
	.push-four,
	.push-five,
	.push-six,
	.push-seven,
	.push-eight,
	.push-nine,
	.push-ten {
		left: auto;
	}
	.right-auto,
	.pull-two,
	.pull-three,
	.pull-four,
	.pull-five,
	.pull-six,
	.pull-seven,
	.pull-eight,
	.pull-nine,
	.pull-ten {
		right: auto;
	}
}

.show-for-small,
.show-for-medium,
.hide-for-large,
.show-for-xlarge {
	display: none !important;
}

.hide-for-xlarge,
.show-for-large,
.hide-for-small,
.hide-for-medium {
	display: block !important;
}

@media only screen and (min-width:1441px) {
	.hide-for-small,
	.hide-for-medium,
	.hide-for-large,
	.show-for-xlarge {
		display: block !important;
	}
	.show-for-small,
	.show-for-medium,
	.show-for-large,
	.hide-for-xlarge {
		display: none !important;
	}
}

@media only screen and (max-width:1279px) and (min-width:768px) {
	.hide-for-small,
	.show-for-medium,
	.hide-for-large,
	.hide-for-xlarge {
		display: block !important;
	}
	.show-for-small,
	.hide-for-medium,
	.show-for-large,
	.show-for-xlarge {
		display: none !important;
	}
}

@media only screen and (max-width:767px) {
	.show-for-small,
	.hide-for-medium,
	.hide-for-large,
	.hide-for-xlarge {
		display: block !important;
	}
	.hide-for-small,
	.show-for-medium,
	.show-for-large,
	.show-for-xlarge {
		display: none !important;
	}
}

.show-for-landscape,
.hide-for-portrait {
	display: block !important;
}

.hide-for-landscape,
.show-for-portrait {
	display: none !important;
}

@media screen and (orientation:landscape) {
	.show-for-landscape,
	.hide-for-portrait {
		display: block !important;
	}
	.hide-for-landscape,
	.show-for-portrait {
		display: none !important;
	}
}

@media screen and (orientation:portrait) {
	.show-for-portrait,
	.hide-for-landscape {
		display: block !important;
	}
	.hide-for-portrait,
	.show-for-landscape {
		display: none !important;
	}
}





.show-for-touch {
	display: none !important;
}

.hide-for-touch {
	display: block !important;
}

.touch .show-for-touch {
	display: block !important;
}

.touch .hide-for-touch {
	display: none !important;
}

table.show-for-xlarge,
table.show-for-large,
table.hide-for-small,
table.hide-for-medium {
	display: table !important;
}

@media only screen and (max-width:1279px) and (min-width:768px) {
	.touch table.hide-for-xlarge,
	.touch table.hide-for-large,
	.touch table.hide-for-small,
	.touch table.show-for-medium {
		display: table !important;
	}
}

@media only screen and (max-width:767px) {
	table.hide-for-xlarge,
	table.hide-for-large,
	table.hide-for-medium,
	table.show-for-small {
		display: table !important;
	}
}

.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}

.flex-video.widescreen {
	padding-bottom: 57.25%;
}

.flex-video.vimeo {
	padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width:800px),
only screen and (device-width:1024px) and (device-height:600px),
only screen and (width:1280px) and (orientation:landscape),
only screen and (device-width:800px),
only screen and (max-width:767px) {
	.flex-video {
		padding-top: 0;
	}
}

.button {
	width: auto;
	background: #f60;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	color: #fff;
	background-color: red;
}

.button:active {}

.button:focus {
	color: #fff;
}

.button.radius {
	font-size: 20px;
	padding: 15px 60px 16px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

@media only screen and (max-width:767px) {
	.button {
		display: block;
	}
	button.button,
	input[type="submit"].button {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

@-moz-document url-prefix() {
	button::-moz-focus-inner,
	input[type=reset]::-moz-focus-inner,
	input[type=button]::-moz-focus-inner,
	input[type=submit]::-moz-focus-inner,
	input[type=file] > input[type=button]::-moz-focus-inner {
		border: none;
		padding: 0;
	}
}



@media only screen and (max-width:767px) {
/*
	.nav-bar {
		height: auto;
	}
	.nav-bar > li {
		float: none;
		display: block;
		border-right: none;
	}
	.nav-bar > li > a.main {
		text-align: left;
		border-top: 1px solid #ddd;
		border-right: none;
	}
	.nav-bar > li:first-child > a.main {
		border-top: none;
	}
	*/
	form {
		margin: 0 0 19.416px;
	}
	.row form .row {
		margin: 0 -6px;
	}
	.row form .row .column,
	.row form .row .columns {
		padding: 0 6px;
	}
	.row form .row.collapse {
		margin: 0;
	}
	.row form .row.collapse .column,
	.row form .row.collapse .columns {
		padding: 0;
	}
	@media only screen and (max-width:767px) {
		label.right {
			text-align: left;
		}
		.mobilenoshow {
			display: none;
		}
	}
}

.pinnacleodds {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #666;
	border-collapse: collapse;
}

.pinnacleodds tbody tr:last-child td:last-child {}

.pinnacleodds tbody tr:last-child td:first-child {}

.pinnacleodds tbody tr:hover td {
	cursor: pointer;
	background-color: #e7671b;
	color: #000;
}

.pinnacleodds tbody tr:nth-child(2n+1) {
	background-color: #1c1c1c;
}

.pinnacleodds tbody tr:nth-child(2n) {
	background-color: #333;
}

.pinnacleodds tbody td {
	vertical-align: middle;
	border: solid #666;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-width: 0;
	border-bottom-width: 0;
	text-align: left;
	padding: 2px;
	font-size: 12px;
	font-family: Arial;
	font-weight: 400;
	color: #f0f0f0;
}

.pinnacleodds tbody tr:last-child td {}

.pinnacleodds tbody tr td:last-child {}

.pinnacleodds tbody tr:last-child td:last-child {
	border-width: 0 0 1px 1px;
}

.pinnacleodds thead tr:first-child th {
	background: #1c1c1c repeat scroll 0 0;
	border-style: solid;
	border-color: #f0f0f0;
	border-image: none;
	text-align: center;
	border-width: 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: 700;
	color: #f0f0f0;
	background-color: #000231;
}

.pinnacleodds thead tr:first-child:hover th {
	background: #1c1c1c repeat scroll 0 0;
}

.pinnacleodds thead tr:first-child th:first-child {}

.pinnacleodds thead tr:first-child th:last-child {}


/* TABLE V2 TEST */

.oddstable {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #666;
	border-collapse: collapse;
}

.oddstable tbody tr:last-child td:last-child {}

.oddstable tbody tr:last-child td:first-child {}

.oddstable .tablerow1:hover,
.oddstable .tablerow1:hover + tr {
	cursor: pointer;
	background-color: #e7671b !important;
	color: #000;
}

.oddstable .tablerow2:hover {
	cursor: pointer;
	color: #000;
}

.oddstable tbody tr:nth-child(4n+1),
.oddstable tbody tr:nth-child(4n+2) {
	background-color: #333;
}

.oddstable tbody td {
	vertical-align: middle;
	border: solid #666;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0;
	border-bottom-width: 0;
	text-align: center;
	padding: 2px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	color: #f0f0f0;
}

.oddstable .tableteamname {
	font-size: 20px;
	font-weight: 500;
}

.oddstable .tableteamodds {
	font-size: 22px;
	font-weight: 700;
}

.oddstable .tablemaptype {
	font-size: 18px;
	font-weight: 600;
}

.oddstable .tabletdate {
	font-size: 12px;
	font-weight: 400;
}

.oddstable tbody tr:last-child td {}

.oddstable tbody tr td:last-child {}

.oddstable tbody tr:last-child td:last-child {}

.oddstable thead tr:first-child th {
	background: #1c1c1c repeat scroll 0 0;
	border-style: solid;
	border-color: #f0f0f0;
	border-image: none;
	text-align: center;
	border-width: 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: 700;
	color: #f0f0f0;
	background-color: #000231;
}

.oddstable thead tr:first-child th:first-child {}

.oddstable thead tr:first-child th:last-child {}

.oddstable tbody td:first-child td:last-child {
	width: 15%;
}

.oddstable tbody td:nth-child(2),
.oddstable tbody td:nth-child(4) {
	width: 25%;
}

.oddstable tbody td:nth-child(3) {
	width: 20%;
}


/* TOURNAMENT PAGE TABLE */

.tourtable {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #666;
	border-collapse: collapse;
}

.tourtable tbody tr:last-child td:last-child {}

.tourtable tbody tr:last-child td:first-child {}

.tourtable .tablerow1:hover,
.tourtable .tablerow1:hover + tr {
	cursor: pointer;
	background-color: #e7671b !important;
	color: #000;
}

.tourtable .tablerow2:hover {
	cursor: pointer;
	color: #000;
}

.tourtable tbody tr:nth-child(4n+1),
.tourtable tbody tr:nth-child(4n+2) {
	background-color: #333;
}

.tourtable tbody td {
	vertical-align: middle;
	border: solid #666;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0;
	border-bottom-width: 0;
	text-align: center;
	padding: 2px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	color: #f0f0f0;
}

.tourtable .tableteamname {
	font-size: 18px;
	font-weight: 500;
}

.tourtable .tableteamodds {
	font-size: 20px;
	font-weight: 700;
}

.tourtable .tablemaptype {
	font-size: 16px;
	font-weight: 600;
}

.tourtable .tabletdate {
	font-size: 10px;
	font-weight: 400;
}

.tourtable tbody tr:last-child td {}

.tourtable tbody tr td:last-child {}

.tourtable tbody tr:last-child td:last-child {}

.tourtable thead tr:first-child th {
	background: #1c1c1c repeat scroll 0 0;
	border-style: solid;
	border-color: #f0f0f0;
	border-image: none;
	text-align: center;
	border-width: 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: 700;
	color: #f0f0f0;
	background-color: #000231;
}


/*.tourtable thead tr:first-child:hover th {	background: #1c1c1c repeat scroll 0 0;}*/

.tourtable thead tr:first-child th:first-child {}

.tourtable thead tr:first-child th:last-child {}

.tourtable tbody td:first-child td:last-child {
	width: 15%;
}

.tourtable tbody td:nth-child(2),
.oddstable tbody td:nth-child(4) {
	width: 25%;
}

.tourtable tbody td:nth-child(3) {
	width: 20%;
}


/* TEAMS FOR TOURNAMENT PAGE */

.qualifiers {
	width: 15%;
	height: 100%;
	float: left;
	padding: 5px;
	text-align: center;
	background-color: #1d1d1d;
	margin: 0.5%;
}

.qualifierstext {
	overflow-y: hidden;
	float: left;
	margin: auto;
	text-align: center;
}

.qualifiersimg {
	margin: auto;
	min-windth: 80px;
	max-windth: 100px;
	display: block;
}

@media only screen and (max-width:767px) {
	.qualifiersimg {
		margin: auto;
		min-windth: 60px;
		max-windth: 80px;
		display: block;
	}
}


/* SIDEBAR TABLE */

.sideoddstable {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #666;
	border-collapse: collapse;
}

.sideoddstable tbody tr:last-child td:last-child {}

.sideoddstable tbody tr:last-child td:first-child {}

.sidetablerow1 {
	font-size: 14px;
	font-weight: 500;
	padding: 5px;
}

.sidetablerow1:hover {
	cursor: pointer;
	background-color: #e7671b!important;
	color: #000;
}

.sideoddstable tbody tr:nth-child(2n+1) {
	background-color: #333;
}

.sideoddstable tbody td {
	vertical-align: middle;
	border: solid #666;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0;
	border-bottom-width: 0;
	text-align: center;
	padding: 2px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	color: #f0f0f0;
}

.sidetableteamname {
	font-size: 14px;
	font-weight: 500;
	padding: 5px;
}

.sideoddstable .sidetableteamodds {
	font-size: 18px;
	font-weight: 700;
}

.sideoddstable .sidetablemaptype {
	font-size: 18px;
	font-weight: 600;
}

.sideoddstable .sidetabletdate {
	font-size: 12px;
	font-weight: 400;
}

.sideoddstable tbody tr:last-child td {}

.sideoddstable tbody tr td:last-child {}

side.oddstable tbody tr:last-child td:last-child {}

.sideoddstable thead tr:first-child th {
	background: #1c1c1c repeat scroll 0 0;
	border-style: solid;
	border-color: #f0f0f0;
	border-image: none;
	text-align: center;
	border-width: 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: 700;
	color: #f0f0f0;
	background-color: #000231;
}

.sidetablerow1 img {
	width: 40px;
	height: 40px;
}


/* LOADING DIV */

#loadingDiv {
	margin: auto;
}

.loading {
	position: relative;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.loading:not(:required) {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: .5em;
	-webkit-box-shadow: #ff4500 1.5em 0 0 0, #ff4500 1.1em 1.1em 0 0, #ff4500 0 1.5em 0 0, #ff4500 -1.1em 1.1em 0 0, #ff4500 -1.5em 0 0 0, #ff4500 -1.1em -1.1em 0 0, #ff4500 0 -1.5em 0 0, #ff4500 1.1em -1.1em 0 0;
	box-shadow: #ff4500 1.5em 0 0 0, #ff4500 1.1em 1.1em 0 0, #ff4500 0 1.5em 0 0, #ff4500 -1.1em 1.1em 0 0, #ff4500 -1.5em 0 0 0, #ff4500 -1.1em -1.1em 0 0, #ff4500 0 -1.5em 0 0, #ff4500 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

input[type="number"] {
	display: block;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 26px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	height: 29px;
	margin-bottom: 10px;
	background: transparent;
	border: none;
	text-align: center;
	font-weight: 700;
	color: #333;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="number"]:focus {
	outline: none;
}

#calcbox {
	position: fixed;
	bottom: 0;
	z-index: 998;
}

.sidecalc {
	height: 86px;
	margin: 0 -15px;
	background-color: #f05f05;
	text-align: center;
	display: none;
	margin-bottom: auto;
}

#calcbtn {
	background-color: #f05f05;
	height: 20px;
	width: 200px;
	text-align: center;
	font-size: 12px;
	padding: 5px;
	color: #f0f0f0;
	cursor: pointer;
	margin: auto;
}

calctext {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: #f9f9f9;
	padding-top: 5px;
}

.calc-boxes {
	width: 20%;
	float: left;
	padding: 10px;
}


/* BOOKIE PAGE */

.bookieback {
	width: 100%;
	background-color: #1c1c1c;
	margin-bottom: 5px;
	display: inline-block;
}

.bookieback:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.bookielogo , .bookiebonus{
	margin: 5px;
	float: left;
	display: inline-block;
}

.bookiename {
	font-size: 2.1em;
	padding: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.bookiestars,
.bookiesgames {
	width: 35px;
	margin-bottom: .5em;
	margin-top: .5em;
	float: left;
}

.bookiebonus {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.bookiebutton {
	float: right;
	font-size: 1.2em;
	padding: 7px 20px!important;
	margin: 10px 10px 5px 10px;
}

.bookiestarbox {
	float: right;
	margin-right: 10px;
	width: auto;
}






/*-------- PARTIDOS ----------*/

.partido {
	width: 100%;
	overflow: hidden;
	max-height: 6em;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.timebar {
	background-color: indigo;
}

.timebox {
	border-bottom: 1.4em solid #652485;
	border-left: 10px solid transparent;
	height: 0;
	width: 52%;
	display: inline-block;
	text-align: center;
	line-height: 1.4em;
	right: 0;
	float: right;
}
.tourname{    
	border-bottom: 1.4em solid indigo;
	height: 0;
	width: 100%;
	text-align: left;
	padding-left: 0.5em;
	line-height: 1.4em;
	display: inline-block;
}
.partido img {
	height: 50px;
	width: 50px;
}

.partido:hover {
	background-color: #652485!important;
	cursor: pointer;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
}

.partido:nth-child(odd) {
	background-color: #333;
}

.partido:nth-child(even) {
	background-color: #262626;
}

.team1,
.team2 {
	padding: 8px;
	margin: auto;
}

.team1 {
	float: left;
}

.team2 {
	float: right;
	right: 0;
}

.centerbox,
.leftbox,
.rightbox {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.leftbox,
.rightbox {
	width: 48%;
	overflow: hidden;
}

.leftbox:hover,
.rightbox:hover {
	-webkit-transition: all 0.120s ease-in-out;
	-moz-transition: all 0.120s ease-in-out;
	-o-transition: all 0.120s ease-in-out;
	-ms-transition: all 0.120s ease-in-out;
	background-color: indigo!important;
}

.centerbox {
	width: 4%;
	text-align: center;
}

.leftbox {
	text-align: left;
	padding-left: 0.3em;
}

.rightbox {
	text-align: right;
	padding-right: 0.3em;
}



.h11 {
	font-size: 1.8em;
	color: #f0f0f0;
	display: inline-block;
	line-height: 1.6em;
	font-weight: 500;
	margin: auto;
}

.h12 {
	font-size: 1.2em;
	color: #f0f0f0;
	display: inline-block;
	line-height: 1.6em;
	font-weight: 500;
	margin: auto;
}

.h7 {
	color: #f0f0f0;
	font-size: 1.4em;
	line-height: 0.8em;
}


@media (min-width:1px) and (max-width:533px) {
	.bookieback {
		width: 100%;
		background-color: #1c1c1c;
		margin-bottom: 5px;
		display: inline-block;
		text-align: center;
	}
	.bookieback:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
	.bookielogo {
		margin: .2em auto;
		width: 75%;
		display: inline-block;
		clear: both;
		float: none;
	}
	.bookiename {
		font-size: 2em;
		padding: 5px;
		margin-bottom: 5px;
		font-weight: bold;
		display: inline-block;
		margin: .2em auto;
		clear: both;
	}
	.bookiestars,
	.bookiesgames {
		width: 25px;
		margin-bottom: .5em;
		margin-top: .5em;
		float: none;
	}
	.bookiebonus {
		font-size: 1.8em;
		margin-bottom: auto 5px;
		clear: both;
		display: inline-block;
	}
	.bookiebutton {
		font-size: 1em;
		padding: 7px 20px!important;
		margin: .2em auto;
		width: 90%;
		display: inline-block;
		clear: both;
		float: none;
	}
	.bookiestarbox,
	.bookiegamebox {
		clear: both;
		margin: auto ;
		float: none;
	}
}

#desktable {
	width: 100%;
	height: 500px;
	overflow: hidden;
	display: block!important;
}
#mobiletable{
	display: none!important;
}






@media only screen and (max-width:499px) {

	/*-------- PARTIDOS ----------*/
	.partido {
		max-height: 4.5em;
	}
	.timebox {

		font-size: 1em;
	}
	.tourname{
		font-size: 0.9em;
	}
	.partido img {
		height: 2.5em;
		width: 2.5em;
	}
	.team1,
	.team2 {
		padding: 0;
	}
	.team1 {
		padding-right: 8px
	}
	.team2 {
		padding-left: 8px;
	}
	.centerbox {
		width: 4%;
		text-align: center;
	}
	.centerbox,
	.leftbox,
	.rightbox {
		padding-top: 8px;

	}
	.leftbox {
		padding-left: 0.1em;
		width: 48%;
	}
	.rightbox {
		padding-right: 0.1em;
		width: 48%;
	}
	.h11 {
		font-size: 1em;
		line-height: 1.2em;
	}
	.h7 {
		font-size: 0.9em;
		line-height: 1em;
	}
}

.torneogroups {
	text-align: left;
	font-weight: 400;
	background-color: #333;
	border: none;
	margin:  20px 0 40px 0;
}
div.torneogroups > a:nth-of-type(odd) {
	background-color: #262626;
}
a.clickable-row {
	padding: 5px;
	display: block;
	background-color: #333;
}
a.clickable-row:hover {
	background-color: #303F9F!important;
	cursor: pointer;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
}




img.homegameimg{
	width: 49%;
	padding: 0.3em;
}

/*@media only screen and (max-width:499px) {
	img.homegameimg{
		width: 49%;
		padding: 0.3em;
	}
}*/
/* @media only screen and (max-width:766px) {

/*-------- PARTIDOS ----------* /
    	.partido {
    		max-height: 5em;
    	}
    	.timebox {
    	}
    	.partido img {
    		height: 3em;
    		width: 3em;
    	}
    	.team1,
    	.team2 {
    		padding: 0;
    	}
    	.team1 {
    		padding-right: 8px
    	}
    	.team2 {
    		padding-left: 8px;
    	}
    	.centerbox,
    	.leftbox,
    	.rightbox {
    		padding: 8px;
    	}
    	.h11 {
    		font-size: 1.5em;
    		line-height: 0.8em;
    	}
    	.h7 {
    		font-size: 1.2em;
    		line-height: 1em;
    	}
}
*/

